<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.didichuxing.doraemondemo">
    <!-- 腾讯地图 SDK 要求的权限(开始) -->
    <!-- 访问网络获取地图服务 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 检查网络可用性 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 需要外部存储写权限用于保存地图缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--    tools:replace问题参考  https://developer.android.google.cn/studio/build/manifest-merge?hl=zh-cn tools:replace部分-->
    <!--    android:requestLegacyExternalStorage="true" 解决sd卡没有权限的问题-->
    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/dk_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".old.MainDebugActivityOkhttpV3">

        </activity>

        <!--        <activity-->
        <!--            android:name=".mc.MCActivity"-->
        <!--            android:configChanges="orientation|screenSize">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <activity android:name=".mc.WebViewActivity" />
        <activity android:name=".comm.CommFragmentActivity" />


        <!--                <activity-->
        <!--                    android:name=".MainDebugActivityOkhttpV3"-->
        <!--                    android:configChanges="orientation|screenSize">-->
        <!--                    <intent-filter>-->
        <!--                        <action android:name="android.intent.action.MAIN" />-->

        <!--                        <category android:name="android.intent.category.LAUNCHER" />-->
        <!--                    </intent-filter>-->
        <!--                </activity>-->

    </application>

</manifest>
