<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.didichuxing.doraemonkit">

    <!-- Window -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- IO -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Setting -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Zxing-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--leakCanary-->
    <!-- To allow starting foreground services on Android P+ - https://developer.android.com/preview/behavior-changes#fg-svc -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--map -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!--    networkSecurityConfig 兼容android P 的网络请求
    android:networkSecurityConfig="@xml/dokit_network_config"
    -->
    <!--    android:requestLegacyExternalStorage="true" 解决sd卡没有权限的问题-->
    <application>
        <activity
            android:name=".kit.core.UniversalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged" />
        <activity
            android:name=".kit.core.TranslucentActivity"
            android:theme="@style/DK.Theme.Translucent"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".kit.connect.DoKitScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <provider
            android:name=".DebugFileProvider"
            android:authorities="${applicationId}.debugfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dokit_debug_provider_paths" />
        </provider>

        <!-- Dokit targetApi为 29 Android Q时截屏的前台服务 -->
        <service
            android:name="com.didichuxing.doraemonkit.kit.colorpick.ScreenRecorderService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />

        <!--<service-->
        <!--android:name=".kit.viewcheck.DebugAccessibilityService"-->
        <!--android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.accessibilityservice.AccessibilityService" />-->
        <!--</intent-filter>-->
        <!--<meta-data-->
        <!--android:name="android.accessibilityservice"-->
        <!--android:resource="@xml/debug_accessibility_service_config" />-->
        <!--</service>-->

        <!--        截图服务 适配Android Q-->


    </application>

</manifest>
