<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didichuxing.doraemondemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/dk_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dk_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WebViewActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".SecondActivity" />
        <!--        高德定位服务-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="11f9728ee0c2a141663fc4b784c42a33"></meta-data>

    </application>


</manifest>