<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.didichuxing.doraemondemo">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--tencent Android Q新增权限，允许应用在后台发起定位，如应用target为Q，请添加此权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- tencent 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <!-- https://blog.csdn.net/CHS007chs/article/details/85849625
       tools:replace="android:allowBackup,android:label"-->
    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/dk_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".WebViewNormalActivity" />
        <activity android:name=".WebViewX5Activity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".LeakActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".mc.MCActivity" />
        <activity android:name="com.amap.api.navi.AmapRouteActivity" />
        <activity
            android:name=".comm.CommFragmentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--高德定位服务-->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="11f9728ee0c2a141663fc4b784c42a33" />

        <!--腾讯定位服务-->
        <meta-data
            android:name="TencentMapSDK"
            android:value="ECSBZ-ZDNCF-4K3J4-JNWQ2-TWW37-XOFNQ" />
        <!--百度地图key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UhPZI3aQQ7un6RP8evAkXxFCtlvItawi" />
        <!--百度地图定位服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- Dokit targetApi为 29 Android Q时截屏的前台服务-->
        <service
            android:name="com.didichuxing.doraemonkit.kit.colorpick.ScreenRecorderService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>


</manifest>
