# http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true

[*.java]
max_line_length = 140
wildcard_import_limit = 99

[*.kt]
max_line_length = 160
wildcard_import_limit = 99
