*.iml
.gradle
local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/*/build
/captures
.externalNativeBuild
.idea/
.project
.classpath
.settings/
/*/*.iml
/*/*/*.iml
