<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didichuxing.doraemonkit.zxing">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
    </application>

</manifest>
